<!DOCTYPE html>
<html>
  <head>
      <title>{{title}}</title>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >

      <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    {{{body}}}
    <br>
  <p>
      Hours: <br>
      Monday - Friday : 12 - 6PM<br>
      Saturday : 9AM - 6PM<br>
      Sunday : Closed<br>
      Contact : (612) 756-0390
  </p>
  </body>
</html>
